{:nrepl {:port 8777}

 :jvm-opts ["-Xmx1G"]

 :source-paths ["src" "test"]

 :dependencies
 [[lilactown/helix "0.1.9"]
  [com.fbeyer/refx "0.0.49"]

  [binaryage/devtools "1.0.6"]
  [cider/cider-nrepl "0.30.0"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :js-options {:js-provider :external
                :external-index "js/target/requires.js"
                :external-index-format :esm}
   :modules
   {:app {:init-fn iotodo.core/init}}
   :devtools
   {:preloads []}
   :dev
   {:compiler-options
    {:closure-defines {}}}}}}


